VAULT_HOST=bao.example.com
VAULT_PORT=8200
VAULT_CONFIG_TOKEN=s.MySuperSecretVaultToken
# VAULT_APP_TOKEN=s.rDheRdA7bvdItnY02DuhisVJ
VAULT_MOUNT=tracepoint-c
VAULT_PATH=spring-config
# TRUSTSTORE_PATH=truststore.p12
TRUSTSTORE_PASS=changeit


